<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Proj</title>
    <script src="https://kit.fontawesome.com/2096de5d3f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="indexStyle.css">
</head>
<body>
<h1>Expense Project One</h1>


<h2>Add Expense</h2>
<form action="/expenses" method="post">
    <input type="text" placeholder="Expense Item" name="expenseItem">
    <input type="number" placeholder="Amount" name="amount">
    <button type="submit">Submit</button>
</form>

<ul class="expenses">
    <% for(let i = 0; i < expenses.length; i++) {%>
    <li class="expense">
        <span class="description">Item </span><span><%=expenses[i].expenseItem + ' ' %></span>
        <span class="description">Cost </span><span><%=expenses[i].amount + ' ' %></span>
        <span class="description">Date </span><span><%=expenses[i].entryDate %></span>
        <i class="fa-solid fa-trash-can"></i>
    </li>
    <% } %>
</ul>

<div id="updateDiv">
    <h2>Same code to set up update function, maybe we can update the pricing or something later</h2>
    <button id="update-button">Update Price?</button>
</div>

<div>
    <h2>Remove An Expense</h2>
    <button id="delete-button">Delete Expense</button>
    
</div>
<div id="message"></div>


<script src="/index.js"></script>
</body>
</html>