<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Proj</title>
</head>
<body>
<h1>Expense Project One</h1>


<h3>Add Expense</h3>
<form action="/expenses" method="post">
    <input type="text" placeholder="Expense Item" name="expenseItem">
    <input type="number" placeholder="Amount" name="amount">
    <button type="submit">Submit</button>
</form>


<!--<script src="index.js"></script>-->
</body>
</html>